.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 0.5rem);
  padding: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;

  h1 {
    font-size: 1.25rem;
    margin: 0.25rem auto 0.25rem 0.25rem;
  }

  button,
  form {
    margin: 0 0.25rem;
  }

  button,
  input[type="submit"] {
    cursor: pointer;
  }

  button {
    border: none;
    background: none;
    color: #fff;
    padding: 0;
    height: 1.75rem;
  }

  button svg {
    height: 100%;
    width: auto;
  }

  button:disabled svg {
    color: #D5D5D7;
    cursor: not-allowed;
  }

  form {
    display: flex;
    width: 100%;
    align-items: center;
  }

  form input[type="text"] {
    height: 1.75rem;
    flex: 1;
  }

  form input[type="submit"] {
    height: calc(2rem + 2px);
    margin-left: 0.25rem;
  }

  @media (min-width: 425px) {
    form {
      width: initial;
    }

    input[type="text"] {
      flex: none;
    }
  }
}
