.main {
  width: calc(100% - 2rem);
  margin: auto 0;
  max-width: 425px;
  min-height: calc(100px + 13.55rem);
  padding: 1rem 0;
  color: #282c34;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
