.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.App header {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.App header h1 {
  font-size: 1.25rem;
}

.App main {
  width: calc(100% - 2rem);
  margin: auto 0;
  max-width: 425px;
  min-height: calc(100px + 13.55rem);
  padding: 1rem 0;
  color: #282c34;
  background: rgba(255,255,255,0.5);
  text-align: center;
}

.App main h2, h3, p {
  margin: 0;
}

.App main h3{
  font-size: 1.15;
}

.App main section {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}