.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.App header {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.App header h1 {
  font-size: 1.25rem;
}

.App main {
  width: calc(100% - 4rem);
  margin: auto 0;
  max-width: 425px;
  padding: 0 1rem;
  color: #282c34;
  background: rgba(255,255,255,0.5);
  text-align: center;
}


@media (min-width: 425px) {
  .App main {
    padding: 0;
  }
}
